body {
    margin: 0;
    font-family: Arial;
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #4facfe;
    color: white;
    padding: 20px;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    margin: 5px 0;
}

.menu-item:hover {
    background:  #00c6ff;
}

/* CONTENIDO */
.content {
    flex: 1;
    padding: 20px;
    background: #f5f5f5;
}

.logout {
    margin-top: 20px;
    background: #e6005c;
}

.logout:hover {
    background: #b30047;
}

button {
    background: #4facfe;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

input {
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #ff4da6; /* rosado */
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(-20px);
    transition: all 0.4s ease;
    z-index: 9999;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}